<html>
  <head>
    <title>Elliot's Risk Calculator</title>
   <link rel="stylesheet" type="text/css" href="/static/style.css">
  </head>
  <body>
    <div id="container">
      <div class="pagetitle">
        <h1>Welcome!</h1>
      </div>
      <div id="main">
        <form method="post" action="{{ url_for('submitted_form') }}">
          <label for="company">Company:</label>
          <select name="company">
  		<option value="amazon">amazon</option>
 		<option value="apple">apple</option>
  		<option value="ibm">ibm</option>
  		<option value="oracle">oracle</option>
	  </select>
          <label for="investment">Investment:</label>
          <input type="text" name="investment" onkeypress='return event.charCode >= 48 && event.charCode <= 57'>
	  </input>
		<br />
          <input type="submit">
        </form>
      </div>
      <div id="result">
       <p>
           {{result}} <br>
       </p>
     </div>
    </div>
  </body>
</html>
