<html>
  <head>
    <title>Elliot's Risk Calculator</title>
   <link rel="stylesheet" type="text/css" href="/static/style.css">
  </head>
  <body>
    <div id="container">
      <div class="pagetitle">
        <h1>Welcome to Elliot's Risk Calculator!</h1>
      </div>
      <div id="main">
        <form method="post" action="{{ url_for('submitted_form') }}">
          <label for="company">Company:</label>
          <select name="company">
  		<option value="amazon">amazon</option>
 		<option value="apple">apple</option>
  		<option value="ibm">ibm</option>
  		<option value="oracle">oracle</option>
		<option value="google">google</option>
	  </select><br/><br />
          <label for="investment">Investment:</label>
          <input type="text" name="investment" onkeypress='return event.charCode >= 48 && event.charCode <= 57'>
	  </input>
	  <br /><br />
	  <label for="rtype">Type:</label>
          <select name="rtype">
                <option value="T">T</option>
                <option value="M">M</option>
		<option value="R">R</option>
          </select><br /><br />
          <label for="runat">Run Against:</label>
          <select name="runat">
		<option value="lambda">Lambda</option>
	        <option value="ec2">EC2</option>
          </select><br /><br />
          <input type="submit">
        </form>
      </div>
      <div id="result">
       <p>
           {{result}} <br>
       </p>
     </div>
    </div>
  </body>
</html>
